{% extends 'helpers/base.html' %}

{% block title %}Balancing Tables{% endblock %}

{% block content %}
    <h1 class="ui header">Balancing Tables</h1>
    <div class="ui action input">
        <div class="ui selection dropdown">
            <input type="hidden" name="tableselection" id="tableselection">
            <i class="dropdown icon"></i>
            <div class="default text">Select table</div>
            <div class="menu">
                {% for table in tables %}
                    <div class="item" data-value="{{ table }}">{{ table }}</div>
                {% endfor %}
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="ui selection dropdown">
            <input type="hidden" name="displaymode" id="displaymode">
            <i class="dropdown icon"></i>
            <div class="default text">Select table</div>
            <div class="menu">
                    <div class="item" data-value="0">By Batch</div>
                    <div class="item" data-value="1">By Item</div>
                    <div class="item" data-value="2">Combined</div>
                    <div class="item" data-value="3">Force Combined</div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="logisticTime" placeholder="Add. Logistic Time: 0">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="limitFrom" placeholder="Starting At: 0">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="limitTo" placeholder="End Before: 10">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="option" placeholder="Options">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="ui button" id="go">GO</div>
    </div>
    <div id="tablecontent"></div>
{% endblock %}

{% block customjavascript %}
    <script>
    // our json calls can take very long and we don't want them to timeout
    $.ajaxSetup({
        timeout: 30000 // that number is in miliseconds!
    });

    // from here: http://krasimirtsonev.com/blog/article/Javascript-template-engine-in-just-20-line
    var TemplateEngine = function(html, options) {
        var re = /<%(.+?)%>/g,
            reExp = /(^( )?(var|if|for|else|switch|case|break|{|}|;))(.*)?/g,
            code = 'with(obj) { var r=[];\n',
            cursor = 0,
            result,
                match;
        var add = function(line, js) {
            js? (code += line.match(reExp) ? line + '\n' : 'r.push(' + line + ');\n') :
                (code += line != '' ? 'r.push("' + line.replace(/"/g, '\\"') + '");\n' : '');
            return add;
        };
        while(match = re.exec(html)) {
            add(html.slice(cursor, match.index))(match[1], true);
            cursor = match.index + match[0].length;
        }
        add(html.substr(cursor, html.length - cursor));
        code = (code + 'return r.join(""); }').replace(/[\r\t\n]/g, ' ');
        try { result = new Function('obj', code).apply(options, [options]); }
        catch(err) { console.error("'" + err.message + "'", " in \n\nCode:\n", code, "\n"); }
        return result;
    };

    var TableTemplate = `<table class="ui very compact small striped celled table">
    <br>
    <%for(var rowIndex in this.rows) { %>
        <% if(rowIndex % 15 == 0)  { %>
        <thead style="text-align: center;" border="1">
            <tr>
                <%for(var colIndex in this.columns) { %>
                <th class="one wide" style="background-color: #e0eae7;"><%this.columns[colIndex].header%></th>
                <% } %>
            </tr>
        </thead>
        <% } %>
    <tr style="text-align: center;">
        <%for(var colIndex in this.rows[rowIndex].columns) { %>
        <td style="text-align: center;">
            <%if(this.columns[colIndex].editable) { %>
            <div class="ui action fluid mini input cell" data-objid="<%this.rows[rowIndex].id%>" data-column="<%colIndex - 1%>">
                <input type="text" value="<%this.rows[rowIndex].columns[colIndex]%>">
                <button class="ui disabled icon button">
                  <i class="check icon"></i>
                </button>
            </div>
            <% } else { %>
            <%this.rows[rowIndex].columns[colIndex]%>
            <% } %>
        </td>
        <% } %>
    </tr>
    <% } %>
  </tbody>
</table><br><br>`;

    function updateTable(tablename, limitFrom, limitTo, displayMode, logisticTime, option) {
        $('#go').addClass("disabled loading");
        var getTableJSONURL = "{% url "getbalancingtablejson" tablename="tablename" limitFrom=11 limitTo=22 displayMode=33 logisticTime=44 option=55%}";
        getTableJSONURL = getTableJSONURL.replace("tablename", tablename);
        getTableJSONURL = getTableJSONURL.replace("11", limitFrom);
        getTableJSONURL = getTableJSONURL.replace("22", limitTo);
        getTableJSONURL = getTableJSONURL.replace("33", displayMode);
        getTableJSONURL = getTableJSONURL.replace("44", logisticTime);
        getTableJSONURL = getTableJSONURL.replace("55", option);
        $.getJSON(getTableJSONURL, function (data, status) {
            console.log("data received, using template to render table...");
            $('#tablecontent').html(TemplateEngine(TableTemplate, data));
            $('.cell input').on("input", function () {
                $(this).siblings("button").removeClass("disabled").addClass("green");
            });
            $('.cell button').click(function() {
                var postData = {
                    "tablename": tablename,
                    "column": $(this).parent().data("column"),
                    "objID": $(this).parent().data("objid"),
                    "value": $(this).siblings("input").val()
                };
                $('.cell').addClass("disabled");
                $(this).addClass("loading disabled");
                $.post("{% url "setbalancingtablevalue" %}", postData, function(data) {
                    updateTable(tablename, limitFrom, limitTo, displayMode, logisticTime, option);
                }, "json").fail(function (jqxhr, textStatus, error) {
                    console.log("setbalancingtablevalue failed! "+textStatus+" "+error);
                });
            });
            $('#go').removeClass("disabled loading");
        });
    }

    $('.ui.dropdown')
      .dropdown()
    ;

    $('#go').click(function() {
        if($('#tableselection').val()) {
            var tableName = $('#tableselection').val();

            if ($('#displaymode').val() == "") {
                var displayMode = 2;
            } else {
                var displayMode = $('#displaymode').val();
            }


            if ($('#logisticTime').val() == "") {
                var logisticTime = 0;
            } else {
            var logisticTime = $('#logisticTime').val();
            }


            if ($('#limitFrom').val() == "") {
                var limitFrom = 0;
            } else {
                var limitFrom = $('#limitFrom').val();
            }


            if ($('#limitTo').val() == "") {
                var limitTo = 10;
            } else {
                var limitTo = $('#limitTo').val();
            }

            if ($('#option').val() == "") {
                var option = "None";
            } else {
                var option = $('#option').val();
            }

            updateTable(tableName, limitFrom, limitTo, displayMode, logisticTime, option);
        }
    });
    </script>
{% endblock %}