{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.min.css">

    <link rel="stylesheet" href="/goodcompany/static/extra.css">
    <link rel="stylesheet" href="/goodcompany/static/dark.css">

        {% block customcss %}{% endblock %}

    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <div class="top_menu">
        <div class="top_menu_button">
            <a href="{% url 'admin:index' %}" class="top_menu_item">Django Admin</a>
        </div>
        <div class="top_menu_button">
            <a href="http://{{ request.get_host }}/goodcompany/" class="top_menu_item">Home</a>
        </div>
        <div class="top_menu_button">
            <a href="{% url 'materialoverview' %}" class="top_menu_item">Materials</a>
        </div>
        <div class="top_menu_button">
            <a href="{% url 'moduleoverview' %}" class="top_menu_item">Modules</a>
        </div>
        <div class="top_menu_button">
            <a href="{% url 'objectoverview' %}" class="top_menu_item">Tables</a>
        </div>
        <div class="top_menu_button">
            <a href="{% url 'producttypeoverview' %}" class="top_menu_item">Product Types</a>
        </div>
        <div class="top_menu_button">
            <a href="{% url 'researchoverview' %}" class="top_menu_item">Research</a>
        </div>
        <div class="top_menu_button">
            <a href="{% url 'balancingtables' %}" class="top_menu_item">Balancing Tables</a>
        </div>
        <div class="top_menu_button">
            <a href="{% url 'commands' %}" class="top_menu_item">Commands</a>
        </div>
    </div>
    <div class="ui main container">
        {% block content %}




        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block customjavascript %}{% endblock %}
</body>
</html>