{% extends 'helpers/base.html' %}

{% block title %}Function Overview{% endblock %}

{% block content %}

    <h2 class="ui header">Function Overview</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Icon</th>
                <th width="20%">Name</th>
                <th width="15%">Value</th>
                <th width="25%">Form Factors</th>
                <th width="25%">Sample Products</th>
            </tr>
        </thead>
        <tbody>
    {% for function in functions %}
        <tr>
            <td>
                <a  href="/goodcompany/admin/Production/productfunction/{{ function.id }}"><img height="40" src="/goodcompany/static/img/{{function.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td>{{ function.name }}</td>
            <td>{{ function.value }}</td>
            <td>
                {% for type in productTypes %}
                    {% if type.function == function.id %}
                        <a class='tooltip' href="{% url 'producttypedetail' type.id %}">
                            <img height="40" src="/goodcompany/static/img/{{type.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';">
                            <span class='tooltiptext'>{{type.name}}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for sample in samples %}
                    {% if sample.function == function.id %}
                        <a href="{% url 'sampleproduct' sample.id %}">{{ sample.name }}</a><br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
<br><br><br>



{% endblock %}