{% extends 'helpers/base.html' %}

{% block title %}Material Overview{% endblock %}

{% block content %}
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="20%">Icon</th>
                <th width="60%">Material</th>
                <th width="20%">Cost</th>
            </tr>
        </thead>
        <tbody>
    {% for material in materials %}
        <tr>
            <td>
                <a href="{% url 'materialdetail' material.id %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'materialdetail' material.id %}">{{ material.name | title }}</a></td>
            <td>{{ material.cost|floatformat:0 }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}