{% extends 'helpers/base.html' %}

{% block title %}Module Overview{% endblock %}

{% block content %}
    <div class="main_frame">
        <div class="col_frame_full">
            <span class="frame_title">Module Overview</span>
            <div class="sub_frame">
                <table class="frame_table">
            <tr>
                <th width="10%">Order</th>
                <th width="20%">Category</th>
                <th width="70%">Modules</th>
            </tr>
            {% for cat in categories %}
                <tr>
                    <td>
                       {{cat.order}}
                    </td>
                    <td>
                        {{cat.name}}<br>
                        <a href="{% url 'modulecategory' cat.id %}">View Category</a>
                    </td>
                    <td>
                        {% for module in cat.modules %}
                        <a class='tooltip' href="{% url 'moduledetail' module.id %}">
                            <img height="40" src="/goodcompany/static/img/{{module.IconAssetID}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';">
                            <span class='tooltiptext'>{{module.Name}}</span>
                        </a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
                </table>
            </div>
            <span class="frame_footer"></span>
        </div>
    </div>
{% endblock %}