{% extends 'helpers/base.html' %}

{% block title %}{{ module.name }} Details{% endblock %}

{% block content %}

    <h1 class="ui header" id="modname">{{ module.name | title}}</h1>
    <a href="/goodcompany/admin/Production/module/{{module.id}}/"><img height="100" src="/goodcompany/static/img/{{module.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a><br>
    <a href="/goodcompany/admin/Production/material/{{module.materialId}}/">Edit Material</a>
    <br>

    <h2 class="ui header">Module Details</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="10%">OutputAmount</th>
                <th width="10%">Complexity</th>
                <th width="10%">Sell Price</th>
                <th width="10%">Handling Cost</th>
                <th width="10%">Material Cost</th>
                <th width="10%">Slow PreStep-Cost</th>
                <th width="10%">Quick PreStep-Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{module.outputAmount|floatformat:0}}</td>
                <td>[{{module.complexity|floatformat:2}}]</td>
                <td>{{module.income|floatformat:2}} G</td>
                <td>{{module.handlingCost|floatformat:2}} G</td>
                <td>{{module.materialcosts|floatformat:2}} G</td>
                <td>{{module.employeeCostSlow|floatformat:2}} G</td>
                <td>{{module.employeeCostQuick|floatformat:2}} G</td>
            </tr>
        </tbody>
    </table><br>

        Balance Helper
        <table class="ui celled table" style="text-align:center;">
            <thead>
                <tr>
                    <th width="20%">Features</th>
                    <th width="20%">Material Costs</th>
                    <th width="20%">Drawbacks</th>
                    <th width="20%">Module Size</th>
                    <th width="20%">Time Consumption</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{balancing.featureCount|floatformat:1}}</td>
                    <td>{{balancing.materialCosts|floatformat:1}}</td>
                    <td>{{balancing.drawbackCount|floatformat:1}}</td>
                    <td>{{balancing.moduleSize|floatformat:1}}</td>
                    <td>{{balancing.totalTime|floatformat:1}}</td>
                </tr>
            </tbody>
        </table><br>

        <table class="ui celled table" style="text-align:center;">
            <thead>
                <tr>
                    <th width="20%">Total Rating</th>
                    <th width="20%">Cost Rating</th>
                    <th width="20%">Drawback Rating</th>
                    <th width="20%">Size Rating</th>
                    <th width="20%">Time Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{balancing.totalRating|floatformat:1}}</td>
                    <td>{{balancing.featureRating|floatformat:1}}</td>
                    <td>{{balancing.drawbackRating|floatformat:1}}</td>
                    <td>{{balancing.sizeRating|floatformat:1}}</td>
                    <td>{{balancing.timeRating|floatformat:1}}</td>
                </tr>
            </tbody>
        </table><br>

    <h2 class="ui header">Production Tables</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="10%"></th>
                <th width="20%">Table</th>
                <th width="10%">Time</th>
                <th width="10%">Production</th>
                <th width="10%">Handling</th>
                <th width="10%">Pre-Steps</th>
                <th width="10%">Material</th>
                <th width="10%">Total Cost</th>
            </tr>
        </thead>
        <tbody>
                {% for table in tableList %}
            <tr>
                <td>
                    Slow
                </td>
                <td  rowspan="2">
                    <a href="{% url 'objectdetailview' table.id %}">
                        {{table.name}}
                    </a>
                </td>
                <td  rowspan="2">
                    {{table.productionTime|floatformat:2}}s<br>{{table.productionCost|floatformat:2}} G
                </td>

                <td>
                    {{table.productionRateSlow|floatformat:2}}%
                </td>
                <td>
                    {{table.handlingRateSlow|floatformat:2}}%
                </td>
                <td>
                    {{table.preStepRateSlow|floatformat:2}}%
                </td>
                <td>
                    {{table.materialRateSlow|floatformat:2}}%
                </td>
                <td>
                    {{table.totalCostSlow|floatformat:2}} G
                </td>
            </tr><tr>
                <td>
                    Quick
                </td>

                <td>
                    {{table.productionRateQuick|floatformat:2}}%
                </td>
                <td>
                    {{table.handlingRateQuick|floatformat:2}}%
                </td>
                <td>
                    {{table.preStepRateQuick|floatformat:2}}%
                </td>
                <td>
                    {{table.materialRateQuick|floatformat:2}}%
                </td>
                <td>
                    {{table.totalCostQuick|floatformat:2}} G
                </td>
            </tr>
                {% endfor %}
        </tbody>
    </table><br>

    {% if module.features %}
    <h2 class="ui header">Features</h2>
    <table class="ui celled table" style="text-align:center; width:50%;">
        <thead>
            <tr>
                <th width="10%"></th>
                <th width="70%">Feature</th>
                <th width="20%">Value</th>
            </tr>
        </thead>
        <tbody>
                {% for feature in module.features %}
            <tr>
                <td><a href="/goodcompany/admin/Production/productfeature/{{feature.ProductFeature.id}}/">{{ feature.ProductFeature.HelperEmoji }}</a></td>
                <td><a href="/goodcompany/admin/Production/productfeature/{{feature.ProductFeature.id}}/">{{ feature.ProductFeature.Name }}</a></td>
                <td>{{ feature.FeatureValue }}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table><br>
    {% else %}
    - has no features - <br><br>
    {% endif %}


    {% if module.usedinmodulescount > 0 or module.usedinproductcount > 0 %}
    <h2 class="ui header">Used In</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Type</th>
                <th width="15%">Count</th>
                <th width="70%">List</th>
            </tr>
        </thead>
        <tbody>
            {% if module.usedinmodulescount > 0 %}
            <tr>
                <td>Modules</td>
                <td>{{module.usedinmodulescount|floatformat:0 }}</td>
                <td>
                    {% for mod in usedinmodules %}
                    <a class='tooltip' href="{% url 'moduledetail' mod.id %}">
                        <img height="40" src="/goodcompany/static/img/{{mod.IconAssetID}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';">
                        <span class='tooltiptext'>{{mod.Name}}</span>
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table><br>
    {% else %}
    - not used in anything - <br><br>
    {% endif %}


    <h2 class="ui header">Input Materials</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Icon</th>
                <th width="35%">Material</th>
                <th width="25%">Amount</th>
                <th width="25%">Total cost</th>
            </tr>
        </thead>
        <tbody>
    {% for material in module.inputMaterials %}
        <tr>
            {% if material.moduleID == -1 %}
            <td>
                <a  href="{% url 'materialdetail' material.materialID %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'materialdetail' material.materialID %}">{{ material.name | title}}</a></td>
            {% else %}
            <td>
                <a  href="{% url 'moduledetail' material.moduleID %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'moduledetail' material.moduleID %}">{{ material.name | title}}</a></td>
            {% endif %}
            <td>{{ material.amount|floatformat:2 }}</td>
            <td>{{ material.totalcost|floatformat:2 }} G</td>
        </tr>
    {% endfor %}
        </tbody>
    </table><br>

    <h2 class="ui header">Needed Base Materials</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Icon</th>
                <th width="35%">Material</th>
                <th width="25%">Amount</th>
                <th width="25%">Total cost</th>
            </tr>
        </thead>
        <tbody>
    {% for materialID, material in materials.items %}
        <tr>
            <td>
                <a  href="{% url 'materialdetail' materialID %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'materialdetail' materialID %}">{{ material.name | title}}</a></td>
            <td>{{ material.amount|floatformat:2 }}</td>
            <td>{{ material.totalcost|floatformat:2 }} G</td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Total</th>
                <th>{{ total.amount|floatformat:2 }}</th>
                <th>{{ total.totalcost|floatformat:2}} G</th>
            </tr>
        </tfoot>
    </table><br>


    <br><h2 class="ui header">Production Tree</h2>
    <div id="commandoutput" class="ui message" style="padding-bottom: 60px;"></div>
    <br><br><br>



{% endblock %}


{% block customjavascript %}
    <script>
    // our json calls can take very long and we don't want them to timeout
    $.ajaxSetup({
        timeout: 30000 // that number is in miliseconds!
    });

    function runCommand(commandname, arguments) {
        $('#run').addClass("disabled loading");
        var runcommandURL = "{% url "runcommand" commandname="commandname" arguments="arguments"%}";
        runcommandURL = runcommandURL.replace("commandname", commandname)
        runcommandURL = runcommandURL.replace("arguments", arguments)
        $.getJSON(runcommandURL, function (data, status) {
            console.log("runcommand returned...");
            $('#commandoutput').html(data.output);
            $('#run').removeClass("disabled loading");
        }).done(function() { console.log( "second success" ); }) .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("error " + textStatus);
        console.log("incoming Text " + jqXHR.responseText); }) .always(function() { console.log( "complete" ); });
    }

    runCommand("ProductTree",  '{{ module.name }}');
    </script>
{% endblock %}