{% extends 'helpers/base.html' %}

{% block title %}Module Paths{% endblock %}

{% block content %}
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Path</th>
                <th width="15%">Slot Type</th>
                <th width="10%">Main Feature</th>
                <th width="10%">Progression</th>
                <th width="50%">Modules</th>
            </tr>
        </thead>
        <tbody>
        {% for path in paths %}
            <tr>
                <td>
                    <a href="{% url 'modulepathdetails' path.id %}">{{path.name}}</a>
                </td>
                <td>{% if path.slot %}
                    <a href="/goodcompany/admin/Production/moduleslottype/{{path.slot.id}}/">{{ path.slot.Name }}</a>
                    {% else %}
                    No Slot
                    {% endif %}
                </td>
                <td>
                    <a class='tooltip' href="/goodcompany/admin/Production/productfeature/{{path.mainFeature.id}}/">
                    {{ path.mainFeature.HelperEmoji }}
                    <span class='tooltiptext'>{{path.mainFeature.Name}}</span>
                    </a>
                </td>
                <td>{{ path.progressionStart|floatformat:1 }} - {{ path.progressionEnd|floatformat:1 }}</td>
                <td>
                    {% for module in path.modules %}
                    <a class='tooltip' href="{% url 'moduledetail' module.id %}">
                        <img height="40" src="/goodcompany/static/img/{{module.IconAssetID}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';">
                        <span class='tooltiptext'>{{module.Name}}</span>
                    </a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br><br><br>
{% endblock %}