{% extends 'helpers/base.html' %}

{% block title %}{{ module.name }} Details{% endblock %}

{% block content %}

    <h1 class="ui header" id="modname">{{ module.name | title}}</h1>
    <a href="/goodcompany/admin/Production/module/{{module.id}}/"><img height="100" src="/goodcompany/static/img/{{module.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a><br>
    <a href="/goodcompany/admin/Production/material/{{module.materialId}}/">Edit Material</a>


    <h2 class="ui header">Module Details</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="10%">Costs</th>
                <th width="10%">SellPrice</th>
                <th width="10%">Profit</th>
                <th width="10%">Profitability</th>
                <th width="10%">CraftTime</th>
                <th width="10%">OutputAmount</th>
                <th width="10%">CraftPerMinute</th>
                <th width="10%">ProfitPerMinute</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{module.costs|floatformat:0 }}</td>
                <td>{{module.income|floatformat:0 }}</td>
                <td>{{module.profit|floatformat:0 }}</td>
                <td>{{module.profitability|floatformat:0 }}</td>
                <td>{{module.craftingTime|floatformat:0 }}</td>
                <td>{{module.outputAmount|floatformat:0 }}</td>
                <td>{{module.perMinuteRate|floatformat:0 }}</td>
                <td>{{module.perMinuteProfit|floatformat:0 }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="ui header">Input Materials</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Icon</th>
                <th width="35%">Material</th>
                <th width="25%">Amount</th>
                <th width="25%">Total cost</th>
            </tr>
        </thead>
        <tbody>
    {% for material in module.inputMaterials %}
        <tr>
            {% if material.moduleID == -1 %}
            <td>
                <a  href="{% url 'materialdetail' material.materialID %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'materialdetail' material.materialID %}">{{ material.name | title}}</a></td>
            {% else %}
            <td>
                <a  href="{% url 'moduledetail' material.moduleID %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'moduledetail' material.moduleID %}">{{ material.name | title}}</a></td>
            {% endif %}
            <td>{{ material.amount|floatformat:0  }}</td>
            <td>{{ material.totalcost|floatformat:0  }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    <h2 class="ui header">Needed Base Materials</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Icon</th>
                <th width="35%">Material</th>
                <th width="25%">Amount</th>
                <th width="25%">Total cost</th>
            </tr>
        </thead>
        <tbody>
    {% for materialID, material in materials.items %}
        <tr>
            <td>
                <a  href="{% url 'materialdetail' materialID %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'materialdetail' materialID %}">{{ material.name | title}}</a></td>
            <td>{{ material.amount|floatformat:0 }}</td>
            <td>{{ material.totalcost|floatformat:0 }}</td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Total</th>
                <th>{{ total.amount|floatformat:0  }}</th>
                <th>{{ total.totalcost|floatformat:0  }}</th>
            </tr>
        </tfoot>
    </table>


    <br><h2 class="ui header">Production Tree</h2>
    <div id="commandoutput" class="ui message"></div>
    <br><br><br>



{% endblock %}


{% block customjavascript %}
    <script>
    // our json calls can take very long and we don't want them to timeout
    $.ajaxSetup({
        timeout: 30000 // that number is in miliseconds!
    });

    function runCommand(commandname, arguments) {
        $('#run').addClass("disabled loading");
        var runcommandURL = "{% url "runcommand" commandname="commandname" arguments="arguments"%}";
        runcommandURL = runcommandURL.replace("commandname", commandname)
        runcommandURL = runcommandURL.replace("arguments", arguments)
        $.getJSON(runcommandURL, function (data, status) {
            console.log("runcommand returned...");
            $('#commandoutput').html(data.output);
            $('#run').removeClass("disabled loading");
        }).done(function() { console.log( "second success" ); }) .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("error " + textStatus);
        console.log("incoming Text " + jqXHR.responseText); }) .always(function() { console.log( "complete" ); });
    }

    runCommand("ProductTree",  '{{ module.name }}'.split(' ').join('_'));
    </script>
{% endblock %}