{% extends 'helpers/base.html' %}

{% block title %}{{ productType.name }} Details{% endblock %}

{% block content %}

    <h1 class="ui header">{{ productType.name | title}}</h1>
    <a href="/goodcompany/admin/Production/producttype/{{productType.id}}/"><img height="100" src="/goodcompany/static/img/{{productType.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a><br>

    <h2 class="ui header">Slot Overview</h2>
    <table class="ui celled table">
        <thead style="text-align:center;">
            <tr>
                <th width="20%">Slot</th>
                <th width="80%">Modules</th>
            </tr>
        </thead>
        <tbody>
    {% for slot in productType.slots %}
        <tr>
            <td style="text-align:center;">{{ slot.name }}</td>
            <td>
                {% for module in productType.modules %}
                    {% if module.slot == slot.id %}
                <a class='tooltip' href="{% url 'moduledetail' module.id %}"><img height="40" height="100" src="/goodcompany/static/img/{{module.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';">
                    <span class='tooltiptext'>{{module.name}}</span>
                </a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    <h2 class="ui header">Function Overview</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Icon</th>
                <th width="25%">Name</th>
                <th width="20%">Value</th>
                <th width="40%">Sample Products</th>
            </tr>
        </thead>
        <tbody>
    {% for function in productType.functions %}
        <tr>
            <td>
                <a  href="/goodcompany/admin/Production/productfunction/{{ function.id }}"><img height="40" src="/goodcompany/static/img/{{function.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td>{{ function.name }}</td>
            <td>{{ function.price }}</td>
            <td>
                {% for sample in productType.samples %}
                    {% if sample.function == function.id %}
                        <a href="{% url 'sampleproduct' sample.id %}">{{ sample.name }}</a><br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
<br><br><br>



{% endblock %}