{% extends 'helpers/base.html' %}

{% block title %}{{ product.name }} Details{% endblock %}

{% block content %}

    <h1 class="ui header" id="modname">{{ product.name | title}}</h1>
    <a href="/goodcompany/admin/BalancingHelper/sampleproduct/{{product.id}}/"><img height="100" src="/goodcompany/static/img/{{product.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a><br>
    <a href="/goodcompany/admin/Production/productfunction/{{product.function}}/">Edit Function</a>

    <h2 class="ui header">Product Details</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="10%">Costs</th>
                <th width="10%">Base Price</th>
                <th width="10%">Price Multiplier</th>
                <th width="10%">Optimal Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{product.costs|floatformat:0}}</td>
                <td>{{product.baseprice|floatformat:0}}</td>
                <td>{{product.pricemultiplier|floatformat:2}}</td>
                <td>{{product.optimalprice|floatformat:0}}</td>
            </tr>
        </tbody>
    </table>

<h2 class="ui header">Product Rating - {{product.productRating|floatformat:2}}</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="10%">Mandatory</th>
                <th width="10%">Optional</th>
                <th width="10%">Drawbacks</th>
                <th width="10%">Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for key, value in product.features %}
                        {% for feature in product.mandatory %}
                            {% if feature.Feature.Name == key %}
                    <span class='tooltip'>
                                {% if feature.Feature.Type == 0 %}
                                    {{feature.Feature.HelperEmoji}} |
                                        {% for i in range %}
                                            {% if i <= value %}
                                                {% if i < feature.FeatureValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_0.png">
                                                {% elif i <= feature.FeatureValueMax %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_1.png">
                                                {% else %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_0.png">
                                                {% endif %}
                                            {% else %}
                                                {% if i < feature.FeatureValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_0.png">
                                                {% elif i <= feature.FeatureValueMax %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_1.png">
                                                {% else %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_0.png">
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    | &nbsp;{{value}}&nbsp; <sup>({{feature.FeatureValue}} - {{feature.FeatureValueMax}})</sup>
                                {% else %}
                                    {{feature.Feature.HelperEmoji}}
                                        {% if value == 1 %}<span style="color: #000099"> | {{feature.Feature.Name}} | ✔ </span>
                                        {% else %}  <span style="color: #990000"> | {{feature.Feature.Name}} | ✗</span>
                                        {% endif %}
                                {% endif %}
                        <span class='tooltiptext'>{{feature.Feature.Name}}</span></span>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td>
                    {% for key, value in product.features %}
                        {% for feature in product.optionals %}
                            {% if feature.Feature.Name == key %}
                    <span class='tooltip'>
                                {% if feature.Feature.Type == 0 %}
                                    {{feature.Feature.HelperEmoji}} |
                                        {% for i in range %}
                                            {% if i <= value %}
                                                {% if i < feature.MinValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_0.png">
                                                {% elif i <= feature.MaxValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_1.png">
                                                {% else %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_0.png">
                                                {% endif %}
                                            {% else %}
                                                {% if i < feature.MinValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_0.png">
                                                {% elif i <= feature.MaxValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_1.png">
                                                {% else %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_0.png">
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    | &nbsp;{{value}}&nbsp; <sup>({{feature.MinValue}} - {{feature.MaxValue}})</sup>
                                {% else %}
                                    {{feature.Feature.HelperEmoji}}
                                        {% if value == 1 %}<span style="color: #000099"> | {{feature.Feature.Name}} | ✔ </span>
                                        {% else %}  <span style="color: #999999"> | {{feature.Feature.Name}} | ✗</span>
                                        {% endif %}
                                {% endif %}
                        <span class='tooltiptext'>{{feature.Feature.Name}}</span></span>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </td>
                <td>
                    {% for key, value in product.features %}
                        {% for feature in product.drawbacks %}
                            {% if feature.Feature.Name == key %}
                    <span class='tooltip'>
                                {% if feature.Feature.Type == 0 %}
                                    {{feature.Feature.HelperEmoji}} |
                                        {% for i in range %}
                                            {% if i <= value %}
                                                {% if i < feature.MinValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_0.png">
                                                {% elif i <= feature.MaxValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_2.png">
                                                {% else %}
                                                    <img height="10" src="/goodcompany/static/img/feature_filled_0.png">
                                                {% endif %}
                                            {% else %}
                                                {% if i < feature.MinValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_0.png">
                                                {% elif i <= feature.MaxValue %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_1.png">
                                                {% else %}
                                                    <img height="10" src="/goodcompany/static/img/feature_empty_0.png">
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    | &nbsp;{{value}}&nbsp; <sup>({{feature.MinValue}} - {{feature.MaxValue}})</sup>
                                {% else %}
                                    {{feature.Feature.HelperEmoji}}
                                        {% if value == 1 %}<span style="color: #990000"> | {{feature.Feature.Name}} | ✔ </span>
                                        {% else %}  <span style="color: #999999"> | {{feature.Feature.Name}} | ✗</span>
                                        {% endif %}
                                {% endif %}
                        <span class='tooltiptext'>{{feature.Feature.Name}}</span></span>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </td>
                <td>
                    {% for key, value in product.features %}
                        {% for feature in product.otherFeatures %}
                            {% if feature.Name == key %}
                    <span class='tooltip'>
                                {% if feature.Type == 0 %}
                                    {{feature.HelperEmoji}} |
                                        {% for i in range %}
                                            {% if i <= value %}
                                                <img height="10" src="/goodcompany/static/img/feature_filled_1.png">
                                            {% else %}
                                                <img height="10" src="/goodcompany/static/img/feature_empty_0.png">
                                            {% endif %}
                                        {% endfor %}
                                    | &nbsp;{{value}}
                                {% else %}
                                    {{feature.HelperEmoji}}
                                        {% if value == 1 %}<span style="color: #000099"> | {{feature.Name}} | ✔ </span>
                                        {% else %}  <span style="color: #999999"> | {{feature.Name}} | ✗</span>
                                        {% endif %}
                                {% endif %}
                        <span class='tooltiptext'>{{feature.Name}}</span></span>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </td>
            </tr>
            <tr>
                <td>{{product.mandatoryRating|floatformat:2}}</td>
                <td>{{product.optionalRating|floatformat:2}}</td>
                <td>{{product.drawbackRating|floatformat:2}}</td>
                <td>Not Rated</td>
            </tr>
        </tbody>
    </table>

    <h2 class="ui header">Modules</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="14%">Icon</th>
                <th width="30%">Name</th>
                <th width="14%">Value</th>
                <th width="14%">CraftingTime</th>
                <th width="14%">CraftPerMinute</th>
                <th width="14%">OutputAmount</th>
            </tr>
        </thead>
        <tbody>
    {% for module in product.modules %}
        <tr>
            <td>
                <a  href="{% url 'moduledetail' module.id %}"><img height="40" src="/goodcompany/static/img/{{module.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a  href="{% url 'moduledetail' module.id %}">{{ module.name }}</a></td>
            <td>{{ module.income|floatformat:0 }}</td>
            <td>{{ module.craftingTime|floatformat:1 }}</td>
            <td>{{ module.perMinuteRate|floatformat:1 }}</td>
            <td>{{ module.outputAmount|floatformat:0 }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    <h2 class="ui header">Needed Base Materials</h2>
    <table class="ui celled table" style="text-align:center;">
        <thead>
            <tr>
                <th width="15%">Icon</th>
                <th width="35%">Material</th>
                <th width="25%">Amount</th>
                <th width="25%">Total cost</th>
            </tr>
        </thead>
        <tbody>
    {% for materialID, material in materials.items %}
        <tr>
            <td>
                <a  href="{% url 'materialdetail' materialID %}"><img height="40" src="/goodcompany/static/img/{{material.icon}}.png" onerror="this.src='/goodcompany/static/img/unknown.png';"></a>
            </td>
            <td><a href="{% url 'materialdetail' materialID %}">{{ material.name | title}}</a></td>
            <td>{{ material.amount|floatformat:0}}</td>
            <td>{{ material.totalcost|floatformat:0}}</td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Total</th>
                <th>{{ total.amount }}</th>
                <th>{{ total.totalcost }}</th>
            </tr>
        </tfoot>
    </table>

    <br><h2 class="ui header">Production Tree</h2>
    <div id="commandoutput" class="ui message"></div>




{% endblock %}


{% block customjavascript %}
    <script>
    // our json calls can take very long and we don't want them to timeout
    $.ajaxSetup({
        timeout: 30000 // that number is in miliseconds!
    });

    function runCommand(commandname, arguments) {
        $('#run').addClass("disabled loading");
        var runcommandURL = "{% url "runcommand" commandname="commandname" arguments="arguments"%}";
        runcommandURL = runcommandURL.replace("commandname", commandname)
        runcommandURL = runcommandURL.replace("arguments", arguments)
        $.getJSON(runcommandURL, function (data, status) {
            console.log("runcommand returned...");
            $('#commandoutput').html(data.output);
            $('#run').removeClass("disabled loading");
        }).done(function() { console.log( "second success" ); }) .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("error " + textStatus);
        console.log("incoming Text " + jqXHR.responseText); }) .always(function() { console.log( "complete" ); });
    }

    runCommand("ProductTree",  '{{ product.name }}');
    </script>
{% endblock %}