{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
        {% block content %}

        <h2>Materials</h2>
        <table width="80%">
            <tr>
                <td width="35%">Icon ID</td>
                <td width="15%">Material ID</td>
                <td width="15%">Module ID</td>
                <td width="15%">Research ID</td>
                <td width="35%">String ID</td>
            </tr>
        {% for item in materialList %}
            <tr>
                <td width="35%">{{item.icon}}</td>
                <td width="15%">{{item.id}}</td>
                <td width="15%">N/A</td>
                <td width="15%">N/A</td>
                <td width="35%">{{item.name}}</td>
            </tr>
        {% endfor %}
        </table>
        <br><br>

        <h2>Components</h2>
        <table width="80%">
            <tr>
                <td width="35%">Icon ID</td>
                <td width="15%">Material ID</td>
                <td width="15%">Module ID</td>
                <td width="15%">Research ID</td>
                <td width="35%">String ID</td>
            </tr>
        {% for item in componentList %}
            <tr>
                <td width="35%">{{item.icon}}</td>
                <td width="15%">{{item.material_id}}</td>
                <td width="15%">{{item.id}}</td>
                <td width="15%">N/A</td>
                <td width="35%">{{item.name}}</td>
            </tr>
        {% endfor %}
        </table>
        <br><br>

        <h2>Modules</h2>
        <table width="80%">
            <tr>
                <td width="35%">Icon ID</td>
                <td width="15%">Material ID</td>
                <td width="15%">Module ID</td>
                <td width="15%">Research ID</td>
                <td width="35%">String ID</td>
            </tr>
        {% for item in moduleList %}
            <tr>
                <td width="35%">{{item.icon}}</td>
                <td width="15%">{{item.material_id}}</td>
                <td width="15%">{{item.id}}</td>
                <td width="15%">{{item.research_id}}</td>
                <td width="35%">{{item.name}}</td>
            </tr>
        {% endfor %}
        </table>
        <br><br>

        <h2>Product Types</h2>
        <table width="80%">
        {% for item in productTypeList %}
            <tr>
                <td width="35%">{{item.icon}}</td>
                <td width="15%">{{item.id}}</td>
                <td width="35%">{{item.name}}</td>
                <td width="15%"></td>
            </tr>
        {% endfor %}
        </table>
        <br><br>


        <h2>Equipment</h2>
        <table width="80%">
        {% for item in tableList %}
            <tr>
                <td width="15%">{{item.id}}</td>
                <td width="35%">{{item.name}}</td>
                <td width="50%"></td>
            </tr>
        {% endfor %}
        </table>
        <br><br>


        <h2>Development Projects</h2>
        <table width="80%">
        {% for item in projectList %}
            <tr>
                <td width="35%">{{item.icon}}</td>
                <td width="15%">{{item.id}}</td>
                <td width="35%">{{item.name}}</td>
                <td width="15%"></td>
            </tr>
        {% endfor %}
        </table>
        <br><br>

        {% endblock %}
</body>
</html>